USE [master]
GO
/****** Object:  Database [project1]    Script Date: 11/18/2020 1:12:13 PM ******/
CREATE DATABASE [project1]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [project1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [project1]
GO
/****** Object:  User [cnpm]    Script Date: 11/18/2020 1:12:13 PM ******/
CREATE LOGIN [cnpm] WITH PASSWORD = 'cnpm';
CREATE USER [cnpm] FOR LOGIN [cnpm] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [cnpm]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/18/2020 1:12:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[username] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[firstname] [nvarchar](50) NOT NULL,
	[lastname] [nvarchar](50) NOT NULL,
	[picture] [varbinary](max) NULL,
	[phone] [varchar](10) NULL,
	[email] [nvarchar](100) NULL,
	[address] [nvarchar](100) NULL,
	[nhom] [nvarchar](100) NULL,
	[path] [nvarchar](200) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_picture]  DEFAULT (NULL) FOR [picture]
GO
USE [master]
GO
